
body {
  margin: 0;
  padding: 0;
}


.layout {
    min-height: 99vh;
    border-style: dotted solid;
}

.widget-placeholder {
    border: 1px dotted black;
}

.q_widget {
    cursor: copy;
}

.ui-spinner input {
    padding: .25em .6em !important;
}